.notifications-wrapper {

}

.notifications-tr {
  top: 50px !important;
}

.notification {

}

.notification-title {

}

.notification-message {

}

.notification-dismiss {

}

.notification-action-wrapper {

}

.notification-action-button {

}
