@import "base/reset";
@import "base/default";

@import "vendors/notifications";
@import "vendors/font-awesome";

@import "views/app";

@import "components/CHeader";
@import "components/CMap";
@import "components/CLoader";
@import "components/CChat";

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}